.form{
    border:5px solid orange;;
    position:relative;
    background-color:antiquewhite ;
    padding: 100px;
    margin:5px 5px 5px 5px;
    border-radius: 10px;
    /* position: relative; */
    padding: 25px 15px;
    /* background-color:#81ecec; */
    background-color: azure;
    margin: 50px 0;
    height: 500px;
    box-shadow: 0 2px 5px #ccc;
   
    width: 300px;
    text-align:center;
    margin-left: 590px;
    margin-bottom: 600px;
    
}
/* .entry{
    font-size: 20px; 
    font-style: italic; 
} */
    .textf{
 
  margin-left: 100px; 
   margin-bottom: 10px;
   margin-right: 100px;
   height: 25px;
   width: 230px;
} 
.btn{
    border-radius: 20px;
    width: 100px;
    height: 50px;
    font-size: larger;
    
}
button:hover{
    background-color:darkcyan;
}
.flex{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.align{
    margin-bottom: .6em;
}
.flex input{
    padding: .4em 1em;
}
.App h1{
    color:salmon;
    
}
.img-holder{
    width: 70px;
    height:70px;
    border:3px solid coral ;
    border-radius: 30%;
}
.image{
    
    width: 90px;
    height: 60px;

}
.submitted{
    font-family: fantasy;
    font-size: xx-large;
    color:lightcoral
}
