.App {
    background-color: beige;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  }
  .Nav{
  height: 50px;
  border-radius: 25px;
      position: top;
      padding: 25px 15px;
      /* background-color: #81ecec; */
      background-color:blanchedalmond;
      margin: 50px 0;
      height: 10px;
      box-shadow: 0 2px 5px #ccc;
      text-align: left;
  }
  /* .Nav h1{
    text-align: left;
    text-size-adjust: 301px;
    height: 20px;
  } */
  .link{
    text-align: right;
    padding: 35px;
    margin-bottom: 30px;
    margin-top: -53px;
    
    
     
    
     
    
    
    
  } 
  
  .head{
    height: 0px;
    text-align: start;
    padding: -10px;
    font-size: x-large;
    color:firebrick;
    font-family: fantasy;
    
  
  }
  footer{
    color: burlywood;
    font-size: large;
    height: 50px;
  }
  .reg{
    
   position: right;
    height: 40px;
    width: 200px;
  }
  .pink{
    border-radius: 20px;
    height: 30px;
    margin: 10px;
    
    
   
    
  }
  